<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <div class="container">
    <div class="header">
    <div class="img-area">
      <img src="https://media.istockphoto.com/id/916534092/es/foto/retrato-de-hombre-joven-sobre-fondo-blanco.jpg?s=612x612&w=0&k=20&c=lrgF_cewnfuCOI_R_7PUW_bAsQvF1uU682Cxs4E3XE4=" alt="">
    </div>
    <h1>Anthony Arteaga</h1>
    <h3>Estudiante</h3>
    </div>

    <div class="main">
      <div class="left">
       <h2>Informacion Personal</h2> 
       <p><strong>Nombre:</strong> Anthony Arteaga Enrique Daniel</p>
       <p><strong>Edad:</strong> 19</p>
       <p><strong>Correo:</strong> enriquedanielx@gmail.com</p>
       <p><strong>Telefono:</strong> 04124756733</p>
       <p><strong>Fecha de nacimiento:</strong>04/06/2004</p>
       <p><a href="https://www.instagram.com/tonyaaed4?igsh=MWpxNmlkbm52Mnlzdg==" target="_blank">Instagram</a>.</p>
       <p><a href="https://www.facebook.com/anthony.arteaga.585?mibextid=ZbWKwL" target="_blank">Facebook</a>.</p>
       <h2>Habilidades</h2>
       <ul>
        <li>Trabajo en equipo</li>
        <li>Compromiso y responsabilidad</li>
        <li>Interrelacion con personas</li>
       </ul>
       <h2>Educacion:</h2>
       <h3>Liceo:</h3>
       <p>U.E.N. Luis Barrios Cruz</p>
       <h3>Escuela:</h3>
       <p>Dr Luis Jose Acosta Rodriguez</p>
      </div>

      <div class="right">
        <h2>Experiencia de trabajo</h2>
        <h3>Reparacion de celulares</h3>
        <p><strong>Pocision:</strong> Hardware</p>
        <p><strong>Duracion:</strong>2021-2023</p>
      </div>
    </div>
  </div>
 

  </body>
</html>


